[Unit]
Description=Frp Server Service
After=network.target

[Service]
Type=simple
User=nobody
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/python3 /home/ubuntu/ESPDev/newpump/scripts/monitor.py
# StandardOutput=append:/var/log/pump-monitor.log
# StandardError=append:/var/log/pump-monitor.log

[Install]
WantedBy=multi-user.target
